<div class="container">
    <h1>
        <%- albums.items[0].artists.map(artist=>artist.name) %>
    </h1>
  
    <div class="display">
        <% albums.items.forEach(item => { %>
           <div class="album">
       

        <% let img= item.images.map(ele=>ele.url).splice(0,1); %>
        <% if (!img) { %>
        <% img='https://placehold.co/600x400/000000/FFFFFF/png' %>
        <% } %>
        <img src="<%= img  %>" />  
        <h2><%- item.name %></h2>   
        <a href="<%='/tracks/'+item.id %>">view tracks</a>  
           </div>
         
          <% }) %>
    </div>
  
</div>