

*{

    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-image: url('/images/spotify-background.jpeg');
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container{
    width: 100%;
    margin:0 auto;
    position: relative;
}

.box-search{
    background-color: rgba(28, 4, 32, 0.6);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow:1px 1px rgba(0, 0, 0, 0.3);

}


input{
    outline: none;
    width: 100%;
    padding:1rem;
    border-radius: 1rem;
    border: none;
}

button{
   background-color: rgb(226, 19, 229);
   color: aliceblue;
   padding:1rem 2rem;
   border:none;
   margin-top: 2rem;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 1rem;
   cursor: pointer;
}
button:hover{
    background-color: rgb(126, 11, 128);
}

h1{
    font-size: 4rem;
    text-shadow: 1px 1px rgba(39, 18, 226, 0.4);
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
}
h1 span{
    color: rgb(37, 3, 35);
}

.display{
    margin: 2rem auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
   
}
.album{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    background-color: rgb(30, 29, 31);
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 1px 1px  rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.album:hover{
    background-color: rgb(47, 46, 48);
}
.album img{
    background-size: cover;
    height: 250px;
    border-radius: 1rem;
}
.album h2{
color: white;
text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.album a{
    background-color: rgb(39, 36, 40);
    color: aliceblue;
    text-decoration: none;
    padding: 2rem 1rem;
    text-transform: capitalize;
    border-radius: 1rem;
}
.album a:hover{
    background-color: rgb(15, 15, 16);
}

.table{
    border-collapse: collapse;
  width: 80%;
  padding: 2rem;
  margin: 2rem auto;
}
.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:nth-child(odd){background-color: #fff;}
.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cd0ce3;
  color: white;
}

footer{
    width: 100%;
    padding:2rem;
    background-color: rgb(25, 1, 25);
    color: white;
    margin-top: auto;
}


footer a{

    color: aliceblue;
    text-decoration: none;
    padding:  1rem;
    text-transform: capitalize;
    border-radius: 0.3rem;
  
}


@media screen and (min-width: 600px) {
    
    .box-search{
        min-width: 400px;
    }

}